

.ta
{
    background-color: rgb(242, 242, 242);
    width: 100%;
    max-width: 100%;
    padding: 10px 70px 70px 70px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.96;
    border: none;
    margin: none;
    text-align: center;
    
}
.kin{
    width: 100%;
    max-width: 150vh;
    margin: 70px;
}
.hjkl{
    background-color: #4741d7;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    padding: 60px;
    width: 100%;
}

.cen{
    display: flex;
    justify-content: center;
}

.cb{
    color: black;
    padding: 9px;
}
.gh{
    display: flex;
}
.esp{
    display: flex;
		justify-content: space-between;
}

.custom-modal-content-ac{
    background-color: #dffffa;
    filter:drop-shadow(-5px 0.3rem  0.3rem);
    border-radius: 50px;
    color: rgb(3, 56, 56);
}
.custom-modalfooter-ac{
    background-color: #00baa9;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.custom-backdrop-ac{
    background-color: rgb(0, 38, 35);
}
.custom-modalHead-ac{
    text-align: center;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    border: none;
    padding: 30px;
    background-color: #008683;
}
.custom-modal-content{
    background-color: #dec7fd;
    border-radius: 40px;
    color: rgb(28, 4, 44);
}
.custom-backdrop{
    background-color: #110225;
}
.custom-modalHead{
    text-align: center;
    background-color: #3f0a89;
    color: #f7f2ff;
    padding: 30px;
}
.contain{
    padding: 38px;
}
.hen{
    padding: 15px;
}
.coin{
    justify-content: space-between;
    display : flex;
   padding: 20px;
}
.bus{
    width: 500px;
    height: 50px;
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
}
.m{
    justify-content: space-between;
}
.ov-btn-slide-top {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 18px 45px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-top:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-top::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }